.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-primary);
  animation: bounce 1.2s infinite ease-in-out;
}

/* delay */
.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.8s;
}

.dot:nth-child(4) {
  animation-delay: 1s;
}

/* bouncing effect */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    background-color: var(--color-primary);
  }
  50% {
    transform: translateY(-50px);
  }
}
