.active {
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-offset: 8px;
  pointer-events: none;
}

/* Base styles for nav links */
.nav-link {
  position: relative;
  display: inline-block;
  transition: color 0.5s ease;
}

/* Hover effect */
.nav-link:not(.active):hover {
  color: var(--color-primary);
}

/* Underline animation */
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 1.5px;
  background-color: var(--color-primary);
  transition: width 0.5s ease, left 0.5s ease;
  transform: translateX(0%);
}

/* Underline animation On hover*/
.nav-link:not(.active):hover::after {
  width: 100%;
  left: 0;
}
