
.hover-content {
    transition: all 0.3s ease-in-out;
    transform: translateY(100%); 
    opacity: 0; 
    position: absolute;
    inset: 0; 
    background-color:  var(--color-secondary);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  .relative:hover .hover-content {
    transform: translateY(0); 
    opacity: 1; 
  }