@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #fe2b85;
  --color-secondary: #bca44f;
  --color-accent: #1f2937;
  --color-error: rgb(255, 0, 0);
}
/* 
body {
  font-family: "Outfit";
} */

.heading {
  font-family: "Playfair Display";
}
.title {
  font-family: "Poppins";
}
.outfit {
  font-family: "Outfit";
}
.rubik {
  font-family: "Rubik";
}

@font-face {
  font-family: "Whitney";
  src: url("./fonts/Whitney-SSm-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Whitney";
}



.elementor-shape svg {
  width: 100%;
  height: 32px;
}
